.root {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 12px;
}

.text-area .content {
    -fx-font-family: monospace;
    -fx-background-color: black;
}

.text-area {
    -fx-text-fill: white;
}

.highlightRed {
    -fx-background-color: red;
}

.highlightBlue {
    -fx-background-color: blue;
}