.text{
    -fx-font-family: 'FontAwesome';
    -fx-font-smoothing-type: lcd;
}

.toggle-button .text{
    -fx-font-family: 'FontAwesome';
    -fx-text-fill: transparent;
    -fx-font-size: 20;
    -fx-effect: innershadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1);
}